page-logouttest {
    .d{
        text-align: center;
        margin-top: 30px;
        margin-top: 80px;

    }
    .widthEN{
        width: 65px; 
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #ffffff;
    }
    .imgcard {
        text-align: -webkit-center;
    }
    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #444;
        fill: #222;
    }
    .progress {
        width: 100%;
        margin-top: -6px;
        border-radius: -2px;
        // text-align: center;
        // background-color: #f4f4f4;
        // border: 1px solid #dcdcdc;
        // color: #fff;
        // border-radius: 0px;
    }
    .progress {
        // min-width: 15%;
        // white-space: nowrap;
        // overflow: hidden;
        // padding: 5px;
    }
    .card-header-md {
        font-size: 1.6rem;
        color: #222;
        padding: 12px;
    }
    .cardtest1menu {
        background: #fff;
        margin: 6px;
        border-radius: 7px;
        width: 138px;
        font-size: 1.4rem;
        padding-right: 23px;
        padding-left: 14px;
        -webkit-column-span: none;
        -moz-column-span: none;
        column-span: none;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2) 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.2);
    }
    .innermenu {
        width: 120%;
        height: 100%;
        display: table-cell;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .back-button-icon-md {
        margin: 0;
        padding: 0 6px;
        text-align: left;
        text-align: start;
        font-size: 2.4rem;
        font-weight: normal;
        color: white;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-image: url("");
        background-repeat: repeat-x;
        content: "";
    }
    .cssprofile {
        position: initial;
        margin-top: -250px;
        width: 98%;
        padding: 3px 28px;
    }
    .toolbar-background.toolbar-background-md {
        background: #8bc34a;
        color: #8bc34a;
    }
    .list-md {
        margin: -1px 0 16px;
        display: contents;
    }
    .item-md {
        height: 59px;
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #fff;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .label-ios {
        margin: 0px 0px 0px 0;
    }
    .input-wrapper {
        display: contents;
    }
    a#hea {
        color: green;
        font-weight: bold;
        font-size: 18px;
        margin-left: 23px;
    }
    ion-icon#cc1 {
        font-size: 40px;
        color: green;
    }
    .input-wrapper {
        height: 80px;
    }
    ion-label.label.label-ios {
        font-size: 14px;
        /* margin-left: 7px; */
    }
    ion-label.label.label-md {
        font-size: 14px;
        /* margin-left: 7px; */
    }
    label#ee1 {
        margin-left: 10px;
    }
    .card-md {
        margin: 10px 0px 27px;
        padding: 3px 1px 0px;
        border-radius: 5px;
        width: calc(102% - 20px);
        font-size: 1.4rem;
        background: #f4f4f4;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.12);
        margin-left: 5px;
    }
    .imgthu {
        border-radius: 10px;
    }
    .item-md ion-thumbnail ion-img,
    .item-md ion-thumbnail img {
        width: 45px;
        height: 45px;
        padding: 8px 8px;
        margin-left: 20px;
        margin-top: 6px;
        // width: 51px;
        // height: 50px;
        // padding: 0px 4px;
        // background-color: white;
    }
    ion-img img {
        object-fit: scale-down;
    }
    .item-md ion-avatar[item-left],
    .item-md ion-thumbnail[item-left],
    .item-md ion-avatar[item-start],
    .item-md ion-thumbnail[item-start] {
        margin: 8px 11px -13px 0;
        margin-left: -8px;
    }
    ion-img {
        display: inline-block;
        min-width: 20px;
        min-height: 20px;
        background: #fff;
        contain: strict;
    }
    .fakeuser {
        img {
            background-color: gray;
            opacity: 0.5;
            height: 1em;
            animation: loading 2s infinite;
            width: 150px;
            margin: 10px;
            width: 100px;
        }
        h1,
        h2,
        p {
            background-color: gray;
            opacity: 0.5;
            height: 1em;
            animation: loading 2s infinite;
            width: 150px;
            margin: 10px;
        }
        @keyframes loading {
            to {
                background: linear-gradient( 90deg, rgba(#666666, 0) 0, rgba(lightgrey, .8) 50%, rgba(#666666, 0) 100%);
            }
        }
    }
}